extends layout

block content
  h1= title
  p Welcome to #{title}

  
  form#formSubmit(name="formsubmit", method="post", action="/insert")

    label Bicep:
    input#inputB(type="text", placeholder="Bicep", name="bicep")
    br
    
    button#btnSubmit(type="submit") submit
