extends layout

block content
  h1= title
  p Welcome to #{title}

  
  form#formSubmit(name="formsubmit", method="post", action="/insert")


    label Chest:
    input#inputC(type="text", placeholder="Chest", name="chest")

    br
    button#btnSubmit(type="submit") submit
