extends layout

block content
  h1= title
  p Welcome to #{title}

  
  form#formSubmit(name="formsubmit", method="post", action="/insertGoal")

    label Weight:
    input#inputW(type="text", placeholder="", name="weight")
    br

    label Neck:
    input#inputN(type="text", placeholder="", name="neck")
    br

    label Chest:
    input#inputC(type="text", placeholder="", name="chest")
    br

    label Bicep:
    input#inputB(type="text", placeholder="", name="bicep")
    br

    label Waist:
    input#inputWaist(type="text", placeholder="", name="waist")
    br

    label Hips:
    input#inputHips(type="text", placeholder="", name="hips")
    br

    label Thigh:
    input#inputThigh(type="text", placeholder="", name="thigh")
    br


    button#btnSubmit(type="submit") submit