extends layout

block content
  h1= title
  p Welcome to #{title}

  
  form#formSubmit(name="formsubmit", method="post", action="/insert")


    label Neck:
    input#inputN(type="text", placeholder="Neck", name="neck")
    br

    button#btnSubmit(type="submit") submit
