extends layout

block content
  h1= title
  p Welcome to #{title}

  
  form#formSubmit(name="formsubmit", method="post", action="/insert")

    label Thigh:
    input#inputThigh(type="text", placeholder="Thigh", name="thigh")
    br

    button#btnSubmit(type="submit") submit
