select-activity.jade


a.btn.btn-primary.btn-success(href="") Running
a.btn.btn-primary.btn-success(href="") Swimming
a.btn.btn-primary.btn-success(href="") Biking
a.btn.btn-primary.btn-success(href="") Yoga
a.btn.btn-primary.btn-success(href="") Hiking
a.btn.btn-primary.btn-success(href="") Running