myapp/data/collection-0--209261804236465054.wt
myapp/data/collection-2--209261804236465054.wt
myapp/data/diagnostic.data/metrics.2017-01-15T18-07-51Z-00000
myapp/data/diagnostic.data/metrics.interim
myapp/data/index-1--209261804236465054.wt
myapp/data/index-4--209261804236465054.wt
myapp/data/journal/WiredTigerPreplog.0000000001
myapp/data/journal/WiredTigerLog.0000000001
myapp/data/index-3--209261804236465054.wt
myapp/data/mongod.lock
myapp/data/journal/WiredTigerPreplog.0000000002
myapp/data/storage.bson
myapp/data/WiredTiger
myapp/data/WiredTiger.lock
myapp/data/WiredTiger.wt
myapp/data/sizeStorer.wt
myapp/data/WiredTigerLAS.wt
myapp/data/WiredTiger.turtle
myapp/data/_mdb_catalog.wt
myapp/data/index-6--209261804236465054.wt
myapp/data/collection-5--209261804236465054.wt