extends layout

block content
  h1= title
  p About Me


   


  div
    table
      thead
        //- tr: th Posts
        //- tr: th Posts
      tbody
        each data, i in baselineValues
          tr
            td #{data.label}
            td #{data.value} 

            