extends layout

block content
  h1= title
  p Welcome to #{title}

  form#formSubmit(name="formsubmit", method="post", action="/insert")

    select(name="gender")
      option(value="male")   Male 
      option(value="female") Female 
    
    label Age:
    input#inputAge(type="text", placeholder="Age", name="age")
    br

    label Height:
    input#inputHeigh(type="text", placeholder="Start Time", name="heigh")
    br

    label Unit:
    input#inputUnit(type="text", disabled="disabled", name="unit", value="Imperial")
    br

    label BMI:
    input#inputBMI(type="text", placeholder="End Time", name="bmi")
    br

    button#btnSubmit(type="submit") submit


