extends layout

block content
  h1= title
  p Welcome to #{title}

  
  form#formSubmit(name="formsubmit", method="post", action="/insert")


    label Hips:
    input#inputHips(type="text", placeholder="Hips", name="hips")
    br

    button#btnSubmit(type="submit") submit
