extends layout

block content
  h1= title
  p Welcome to #{title}

  .row
    .col-sm-6

    .col-sm-6
      img(src='')



  form#formSubmit(name="formsubmit", method="post", action="/insert")

    
    label Weight:
    input#inputW(type="text", placeholder="Enter your weight", name="weight")
    br

    label Neck:
    input#inputN(type="text", placeholder="Neck", name="neck")
    br

    label Chest:
    input#inputC(type="text", placeholder="Chest", name="chest")
    br

    label Bicep:
    input#inputB(type="text", placeholder="Bicep", name="bicep")
    br

    label Waist:
    input#inputWaist(type="text", placeholder="Waist", name="waist")
    br

    label Hips:
    input#inputHips(type="text", placeholder="Hips", name="hips")
    br

    label Thigh:
    input#inputThigh(type="text", placeholder="Thigh", name="thigh")
    br


    button#btnSubmit(type="submit") submit
