extends layout

block content
  h1= title
  p Welcome to #{title}

  
  form#formSubmit(name="formsubmit", method="post", action="/insert")

    
    label Weight:
    input#inputW(type="text", placeholder="Enter your weight", name="weight")
    br
    
    button#btnSubmit(type="submit") submit
